:root {
  --primary-color: rgb(67, 223, 64);
  --secondary-color: rgb(31, 31, 31);
}

html,
body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.8rem;
  background-color: #171717;
  position: relative;
}

.primary-bg-color {
  background-color: var(--primary-color);
}
.secondary-bg-color {
  background-color: var(--secondary-color);
}
.primary-text-color {
  color: var(--primary-color);
}
.secondary-text-color {
  color: var(--secondary-color);
}

.btn {
  font-size: 0.9rem;
  word-spacing: 0.8px;
  letter-spacing: 0.8px;
  padding: 0.8rem 1rem;
  border-radius: 18px;
}

.hover-primary:hover {
  background-color: rgb(55, 215, 55);
  color: #ffffff;
}

.hover-white:hover {
  background-color: #ffffff;
}

.modal-content {
  border-radius: 18px;
}

.modalHeader {
  border-radius: 18px 18px 0 0;
  height: 65px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#chatSection {
  color: #fff;
  height: 86%;
}

#chatBox {
  height: 93% !important;
  overflow: auto;
}

.chat-parent {
  margin-bottom: 3px;
}

.chat {
  padding: 4px 7px;
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  max-width: 85%;
}
.chat-user {
  background-color: cadetblue;
  border-radius: 8px 8px 0 8px;
  margin-left: auto;
}

.chat-chatter {
  background-color: aquamarine;
  color: #000;
  border-radius: 8px 8px 8px 0;
}

.chat-btn {
  padding: 0.45rem 0.7rem !important;
  border-radius: 0px;
}

#chatInput {
  border-radius: 0px !important;
}

video {
  object-fit: cover;
  width: 100% !important;
}

#mainContainer {
  height: 100vh;
  display: flex;
  align-items: center !important;
}

#chatterVideoContainer,
#userVideoContainer {
  --bs-aspect-ratio: 75%;
}

#toggleButton {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  margin-top: 10px;
  padding: 8px;
  z-index: 5;
}

#chatSection {
  display: none;
}

@media screen and (min-width: 576px) {
  #chatterVideoContainer,
  #userVideoContainer {
    --bs-aspect-ratio: 55%;
  }
  #chatSection {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  #mainContainer {
    max-width: 70%;
  }
  #chatterVideoContainer,
  #userVideoContainer {
    --bs-aspect-ratio: 45%;
  }
}
